@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>



@code {
    protected override async Task OnInitializedAsync()
    {
        HttpClient httpClient = new HttpClient();
        string url = "https://drive.google.com/uc?id=1QqR5Gr2QcVk7JVQ5tFOmmZ6-NZxGDaua";
        var jsonData = "";
        try
        {
            HttpResponseMessage response = await httpClient.GetAsync(url);

            if (response.IsSuccessStatusCode)
            {
                jsonData = await response.Content.ReadAsStringAsync();
                // Aqui, você pode trabalhar com os dados JSON em 'jsonData'
                // por exemplo, desserializá-los para um objeto C# usando Newtonsoft.Json:
                // var jsonObject = JsonConvert.DeserializeObject<SeuTipoDeObjeto>(jsonData);
            }
            else
            {
                // Tratar o erro, se houver problemas ao buscar o arquivo JSON
                jsonData = "Erro ao recuperar o arquivo JSON.";
            }
        }
        catch (Exception ex)
        {
            // Tratar exceções, se ocorrerem ao fazer a solicitação HTTP
            jsonData = $"Erro: {ex.Message}";
        }
    }


}



